<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title><%= app_title %></title>
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/bootstrap.min.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/bootstrap-theme.min.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/styles.css') %>" media="all"/>

<!-- PhotoSwipe Core CSS file -->
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('photoswipe/photoswipe.css') %>">
<!-- PhotoSwipe Default UI Skin CSS file (styling of UI - buttons, caption, etc.) -->
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('photoswipe/default-skin/default-skin.css') %>">