/**
 * common.css : general rules (applied to all templates)
 * custom.css : os specific rules (applied to all templates)
 * post-detail.css : single.html and page.html specific rules
 * post-list.css : archive.html specific rules
 */



/**
 * @desc General screen rules
 */

body {
	background-color:#182C36;
	font-family:"HelveticaNeue", sans-serif;
}



/**
 * @desc App's structure
 */

.header {
	background-color:#F8F8F8;
	border-bottom:1px #B2B2B2 solid;
}

.tab-bar {
	background-color:#F8F8F8;
	border-top:1px #B2B2B2 solid;
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* No highlight when tabs are tapped */
}



/**
 * @desc Header's elements
 */

.message {
	background-color:#ff5555;
	color:#3D1414;
	border-top:1px #A13636 solid;
	border-bottom:1px #A13636 solid;
}

.refresh-off {
	width:40px;
	height:50px;
	background-image:url('../img/refresh-off-icon.svg');
}

.refresh-on {
	width:40px;
	height:50px;
	background-image:url('../img/refresh-on-icon.svg');
}

.header h1 {
	font-family:HelveticaNeue-Medium,sans-serif;
}



/**
 * @desc Post list
 */

.list-template .list-title {
	font-family:HelveticaNeue-Medium,sans-serif;
}

.list-template .content-date {
	font-family:HelveticaNeue-Thin,sans-serif;	
}

.list-template h2 {
	font-family:HelveticaNeue-Medium,sans-serif;	
}



/**
 * @desc Post/page detail
 */

.single-template {
	font-family:HelveticaNeue-Light,sans-serif;
}

.single-template h1 {
	font-family:HelveticaNeue-Bold,sans-serif;
}

.single-template .post-excerpt {
	font-family:HelveticaNeue-Bold,sans-serif;
}

.single-content h2 {
	font-family:HelveticaNeue-Medium,sans-serif;
}

.single-content h3 {
	font-family:HelveticaNeue-Medium,sans-serif;
}

.single-content h4 {
	font-family:HelveticaNeue-Medium,sans-serif;
}

.single-content h5, .single-content h6 {
	font-family:HelveticaNeue-Bold,sans-serif;
}

.single-content h5:after, .single-content h6:after {
	font-family:HelveticaNeue-Bold,sans-serif;
}

.single-content strong {
	font-family:HelveticaNeue-Bold,sans-serif;
}

.single-content em {
	font-family:HelveticaNeue-Thin_Italic;
}

.single-content em strong, .single-content strong em {
	font-family:HelveticaNeue-BoldItalic;
}

.single-content a:link {
	font-family:HelveticaNeue-Medium;
}

.single-content blockquote p {
	font-family:HelveticaNeue-BoldItalic;
}

.single-template .post-author {
	font-family:HelveticaNeue-Medium;	
}



/**
 * @desc Buttons
 */

/* Button animation when pressed */
.button-tap-on {
	opacity:0.1;
	-webkit-transition:opacity 0.1s linear;
}

/* Button animation when unpressed */
.button-tap-off {
	opacity:1;
	-webkit-transition:opacity 0.1s linear;
}



/**
 * @desc Back button
 */

.back-button {
	position:absolute;
	float: left;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('../img/back-icon.svg');	
	width:43px;
	height:50px;
}



/**
 * @desc Tabs
 */

.tab {
    background-repeat:no-repeat;
	background-position:center 7px;
    background-size:50% 50%;
    font-family:HelveticaNeue,sans-serif;
    font-size:8px;
    text-align:center;
    padding-top:37px;
    text-decoration:none;
}

.tab-1-icon-off- {
    background-image:url(../img/tab-1-off-icon.svg);
    color:#b2b2b2;
}

.tab-1-icon-on- {
    background-image:url(../img/tab-1-on-icon.svg);
    color:#007aff;
}

.tab-2-icon-off- {
    background-image:url(../img/tab-2-off-icon.svg);
    color:#b2b2b2;
}

.tab-2-icon-on- {
    background-image:url(../img/tab-2-on-icon.svg);
    color:#007aff;
}

.tab-3-icon-off- {
    background-image:url(../img/tab-3-off-icon.svg);
    color:#b2b2b2;
}

.tab-3-icon-on- {
    background-image:url(../img/tab-3-on-icon.svg);
    color:#007aff;
}

.tab-4-icon-off- {
    background-image:url(../img/tab-4-off-icon.svg);
    color:#b2b2b2;
}

.tab-4-icon-on- {
    background-image:url(../img/tab-4-on-icon.svg);
    color:#007aff;
}

.tab-5-icon-off- {
    background-image:url(../img/tab-5-off-icon.svg);
    color:#b2b2b2;
}

.tab-5-icon-on- {
    background-image:url(../img/tab-5-on-icon.svg);
    color:#007aff;
}